<section class="content__section section-portfolio">
	<div class="viewport">
		<div class="section__grid grid--two-column">
			<div class="grid__item item--portfolio">
				<h2>Our portfolio speaks for itself.</h2>
			</div>
			<div class="grid__item item--testimonials">
				<h2>Client’s testimonials</h2>
			</div>			
		</div>
	</div>
</section>