.text--center {
	text-align: center;
}
.text--white,
.text--white * {
	color: #fff;

	a {		
		color: #fff;
		@media all and (min-width: $breakpoint_tablet + 1px) {
			&:hover {
				color: $purple;
			}
		}
	}	
}

//flat, paragraph-based list
.text-list {
	li {
		@extend %generic-p;
		&:not(:last-child) {
			margin-bottom: .25rem;
		}
	}

	&.list--header {
		@extend %generic-h3;
		@extend %header-whitespace-medium;
	}
}


//inline svgs via html-webpack-inline-svg-plugin
.ico {
	.svg-ico {
		fill: #000;
		transition: all .2s ease-in-out;
	}
	&.ico--white {
		.svg-ico {
			fill: #fff;
		}
		@media all and (min-width: $breakpoint_tablet + 1px) {
			&:hover {
				.svg-ico {
					fill: #000;
				}
			}
		}
	}
}

