
{% extends "default.twig" %}

{% block banner_desc %}


	<section class="banner__body">
		<div class="body__grid grid--two-columns">
			<div class="grid__item">
				<h3 class="item__title">General inquires</h3>
				<ul class="contact-data">
					<li>
						<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
					</li>					
					<li>
						<a href="tel:+48 22 188 11 33">+48 22 188 11 33 (PL)</a>
					</li>
					<li>
						<a href="tel:+44 56 0156 3406">+44 56 0156 3406 (UK)</a>
					</li>					
				</ul>
			</div>
			<div class="grid__item">
				<h3 class="item__title">Business development</h3>
				<ul class="contact-data">
					<li>
						<a href="mailto:jan.zborowski@softwaremill.com">jan.zborowski@softwaremill.com</a>
					</li>
					<li>
						<a href="tel:+48 504 85 85 44">+48 504 85 85 44 (PL)</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

{% endblock %}