<footer>
	
	<section class="footer__section content__section section--contact">

		<div class="viewport">

				<div class="section__grid grid--two-columns">

					<div class="grid__item item--contact-data">						
						{% include '../components/blocks/contact.twig' %}
					</div>

					<div class="grid__item item--form">

						{% include '../components/contact-form.twig' %}

					</div>

				</div>

		</div><!-- /viewport -->

	</section>


	<section class="footer__section content__section section--footer-links section--black text--white">
		<div class="viewport">

			<div class="section__grid grid--two-columns">

					<div class="grid__item item--nav">

						<h2>See also</h2>

					</div>

					<div class="grid__item item--social">

						<div class="section__header">
							<h2>Follow us</h2>
						</div>

						{% include '../components/blocks/socialmedia.twig' %}

					</div>					

			</div><!-- /section__grid -->



		</div><!-- /viewport -->
	</section>

</footer>