<footer>
    
    <section class="footer__section content__section section-contact">

        <div class="viewport">

                <div class="section__grid grid--two-columns">

                    <div class="grid__item item--contact-data">						
                        {% include '../blocks/contact.twig' %}
                    </div>

                    <div class="grid__item item--form">

                        {% include '../components/contact-form.twig' %}

                    </div>

                </div>

        </div><!-- /viewport -->

    </section>


    <section class="footer__section content__section section--black text--white">
        <div class="viewport">

            <div class="section__grid grid--two-columns">

                    <div class="grid__item item--nav">

                        <div class="section__header">
                            <h2>See also</h2>
                        </div>

                        <div class="footer__nav">
                            {% include '../components/nav-bottom.twig' %}
                        </div>

                    </div>

                    <div class="grid__item item--social">

                        <div class="section__header">
                            <h2>Follow us</h2>
                        </div>

                        {% include '../blocks/socialmedia.twig' %}

                    </div>					

            </div><!-- /section__grid -->
        </div><!-- /viewport -->
    </section>

    <section class="footer__section content__section section--black text--white section-copyrights">
        <div class="viewport">
            <div class="section__grid grid--two-columns">
                <div class="footer__copyrights">
                    <p>&copy; 2019 SoftwareMill. All rights reserved. <a href="#">Privacy policy.</a></p>
                </div>
                <a class="footer__credits" href="//thecodeine.com">Made with The Codeine</a>
            </p>
        </div>
    </section>

</footer>