<li class="list__item item--video">

    <a href="{{ video.url }}">
        <figure class="video__cover">
            <img src="{{ video.cover }}" alt="{{ video.title }}" />
        </figure>

        <h3 class="header--no-margin">{{ video.title }}</h3>

    </a>

</li>