
//modifier of generic .banner, see components/banner.scss
.banner--index {
	.banner__logo {
		grid-column: 1 / -1;

		width: 132px;
		height: auto;

		.svg__ico {
			fill: #fff;
		}

		@media all and (min-width: $breakpoint_laptop + 1px) {
			width: 240px;
			//a little direction for logo: banner content is horizontally center, so we can't have fixed horizontal margins, but we can
			//adjust logo a little to not cover up employee mouth
			margin-top: 6rem;
		}
	}

}

.main-content {
	&.content--index {

		.section-team {
			.section__grid {
				> * {
					grid-column: auto / span 6;
					@media all and (max-width: $breakpoint_mobile) {
						grid-column: 1 / -1;
					}				
				}
				.section__cta {
					@media all and (min-width: $breakpoint_mobile + 1px) {
						margin: 0;
					}
				}
			}
	
		}

	}
}