.content--services {

	.section-consulting {

		.services__list {

			@media all and (min-width: $breakpoint_laptop + 1px) {
				.ui-ico {
					margin-bottom: 6.25rem;
				}
			}


			//for laptopt, tablet and mobile we are referencing Softwaremill_WebsiteTablet_CompanyRemote_05;
			h3 {

				@media all and (max-width: $breakpoint_laptop) {
					margin-bottom: 1.875rem;
				}
				@media all and (max-width: $breakpoint_mobile) {
					margin-bottom: 1.375rem;
				}
				@media all and (max-width: $breakpoint_tablet-small) {
					margin-bottom: 1.25rem;
				}
			}
			// h3 {
			// 	//margin: 6.25rem 0 3.75rem; //reference point: Softwaremill_Website_Services_05;
			// }

			// @media all and (max-width: $breakpoint_laptop) {
			// 	h3 {
			// 		//reference: Softwaremill_WebsiteTablet_CompanyRemote_05;
			// 		//margin: 3.75rem 0 1.875rem; 
			// 		margin-bottom: 1.875rem;
			// 	}
			// }
			// @media all and (max-width: $breakpoint_mobile) {
			// 	h3 {
			// 		//ref: Softwaremill_WebsiteMobile_CompanyRemote_05;
			// 		//margin: 2.75rem 0 1.375rem; 
			// 		margin-bottom: 1.375rem;
			// 	}
			// }				
		}


	}

}