.banner {
	
	//linear gradient for background, see utlities/mixins.scss
	@include linear-gradient( $blue, $silver );	
	position: relative;

	p {
		font-size: 1.75em;	
		margin: 0;	
		@media 
			all and (max-width: $breakpoint_fullhd - 1px),
			all and (max-height: 900px) {
			font-size: 1.25rem;
			line-height: 1.6;
		}
	}

	//	banner modifiers and overrides specific for subpages are moved to pages/{pagename}.scss, 
	//	i.e. banner--index modifier is in pages/index.scss and so on
	
}


//outer grid (for banner__content and events component)
.banner__grid {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100); //https://css-tricks.com/the-trick-to-viewport-units-on-mobile/					
	display: grid;

	&.grid--vertical {
		//magic number is the height of section-events, see components/sections/events.scss
		grid-template-rows: minmax( calc(100vh - 3.75rem), max-content) max-content;
		grid-template-rows: minmax( calc(var(--vh, 1vh) * 100 - 3.75rem), max-content) max-content;						
	}
}

//fixed paddings: less vertically elastic, but more on design spec and better control regarding debugging;
%banner-whitespace-fixed {

	padding: 22.5rem 0 5.625rem;


	@media all and (min-width: $breakpoint_mobile + 1px) and (max-height: 900px) {
		padding-top: 15rem;
	}

	@media all and (max-width: $breakpoint_laptop) {
		padding: 15rem 0 4.375rem;
	}
	@media all and (max-width: $breakpoint_laptop - 1px) and (max-width: $breakpoint_mobile + 1px) {
		padding-top: 10rem;
	}
	@media all and (max-width: $breakpoint_mobile) {
		padding-top: 22.5rem;
	}
	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		padding-top: 13.75rem;
	}
}

//lay elements out dynamically based aligned vertically to bottom with semi fixed paddings for edge-case scenarios to prevent overlapping with header
%banner-whitespace-dynamic {

	align-items: flex-end;
	padding: 5.625rem 0;

	@media all and (max-width: $breakpoint_laptop) {
		padding: 4.375rem 0;
	}
	@media all and (max-width: $breakpoint_mobile) {
		padding: 7.5rem 0 4.375rem;
	}

	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		padding: 7.5rem 0 4rem;
	}	
}

//full dynamic vertical whitespaces based on align-items: center deprecated as of 04-04: 
//it was way harder to maintain and debug mainly due to media queries hell, relied on manual overrides for subpages

.banner__content {

	display: flex;
	position: relative;
	z-index: 2; //stay above cover

	@extend %banner-whitespace-fixed;

	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		//this forces out events out of the screen, event if there is space
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
	}


}

//inner grid (for header, desc, cta)
.banner__subgrid {

	display: grid;
	grid-auto-rows: max-content;

	align-items: start;
	grid-row-gap: 3.75rem;

	height: 100%;

	//ensure title and desc won't stretch 
	grid-template-rows: max-content max-content auto;
	
	
	.banner__cta {
		min-width: 0;
	}

	@media all and (min-width: $breakpoint_desktop + 1px) {


		.banner__title,
		.banner__desc {
			grid-column: 1 / span 6;
		}
		.banner__body {
			grid-column: 1 / -1;
		}
		.banner__cta {
			grid-column: 10 / -1;				
		}
		.banner__desc,
		.banner__cta {
			grid-row-start: 2;
		}

	}

	@media all and (max-width: $breakpoint_laptop) {
		grid-row-gap: 2.75rem;
	}

	@media all and (max-width: $breakpoint_desktop) {


		> * {
			grid-column: 1 / -1;
			grid-row: auto;
		}
		.banner__cta {

			
			margin-top: 1.5rem; //adds to row gap
			
			
			@media all and (min-width: $breakpoint_mobile + 1px) {
				grid-column: 1 / span 6;
			}
		}
	}


	@media all and (max-width: $breakpoint_mobile) {

		.banner__cta {

			@media all and (min-width: $breakpoint_tablet-portrait) {
				grid-column: 1 / span 4;
			}
		}
	}

}

.banner__scroll {
	//by default, position on banner__subgrid
	grid-column: 1 / -1;
	justify-self: start;
	align-self: end;

	@media all and (min-width: $breakpoint_tablet + 1px) {
		&:hover {
			.svg__ico {
				stroke: $purple;
			}
		}
	}

	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		display: none;
	}	
	.scroll__ico {
		width: 3.5rem;
		height: auto;
		transform: rotate(90deg);
		margin: 0;
	}

}

