%cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

.cover {

    overflow: hidden;

    @extend %cover;

    img,
    video {
        @extend %cover;
        object-fit: cover;

        //since we are using in banner mostly photos with people, make sure that heads won't get cut
        object-position: top;
    }

    &.cover--overlay {
        &:after {
            content: '';
            display: block;
            @extend %cover;
            background: rgba($black, .1);
        }
    }
}