//item tag related to listings

.tags__list {
	display: flex;
	flex-wrap: wrap;

	.list__item {

		margin: 0 .625rem .625rem 0;

		> a,
		> span {
		// span wrapper needed for scenario where tag is not an link (i.e.: project listings)
		// we need this to differentiate between "linked" and "non-linked" tag and to apply appropriate border hover
		// only if element is clickable
			@extend %generic-p;
			line-height: normal;
			display: grid;
			grid-auto-flow: column;
			grid-column-gap: .25rem;
			padding: 0 .5rem;
			min-height: 2rem;
			align-items: center;
			border: 2px solid $black;
		}

		@media all and (min-width: $breakpoint_tablet + 1px) {
			a {
				transition: all .2s;
				&:hover {
					color: $purple;
					border-color: $purple;
				}				
			}

		}		
	}
}

.text--white {
	.item--tag {
		a {
			border-color: #fff;
			
			@media all and (min-width: $breakpoint_tablet + 1px) {
				&:hover {
					border-color: $purple;
				}
			}			
		}
	}
}

.item--tag {
	&.tag--selected {
		> a,
		> span {
			border-color: $lightblue;
			color: $lightblue;
		}

	}
}