<form class="contact-form">

    <fieldset>

        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <textarea name="message" placeholder="Message" required></textarea>
        <button type="submit">Send message</button>

    </fieldset>

</form>