<nav id="nav-bottom" class="nav-bottom">
	<ul class="nav__menu menu--bottom">
		<li class="menu__item">
			<a href="#">Portfolio</a>
		</li>
		<li class="menu__item">
			<a href="#">Services</a>
		</li>
		<li class="menu__item">
			<a href="#">Company</a>
		</li>
		<li class="menu__item">
			<a href="#">Join Us</a>
		</li>
		<li class="menu__item">
			<a href="#">Hire Us</a>
		</li>
		<li class="menu__item">
			<a href="#">Blog</a>
		</li>										
	</ul>
</nav>