<nav id="nav-top" class="nav-top">
    <ul class="nav__menu menu--top">
        <li class="menu__item item--has-submenu">
            <a href="#">Portfolio</a>
            <ul class="nav__submenu">
                <span class="submenu__title">
                    <a href="#" class="do-close-subnav">Portfolio</a>
                </span>
                <li class="menu__item item--submenu">
                    <a href="portfolio-clients.html">Clients projects</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="portfolio-products.html">Our products</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="portfolio-open-source.html">Open source</a>
                </li>								
            </ul>
        </li>
        <li class="menu__item item--has-submenu">
            <a href="services.html">Services</a>
            <ul class="nav__submenu">
                <span class="submenu__title">
                    <a href="services.html" class="do-close-subnav">Services</a>
                </span>
                <li class="menu__item item--submenu">
                    <a href="services.html">Main services</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="service-template.html">Backend development</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="service-template.html">Internet of things</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="service-template.html">Big Data & Machine Learning</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="service-template.html">Blockchain</a>
                </li>																
            </ul>			
        </li>
        <li class="menu__item item--has-submenu">
            <a href="#">Company</a>
            <ul class="nav__submenu">
                <span class="submenu__title">
                    <a href="company-scala.html" class="do-close-subnav">Company</a>
                </span>
                <li class="menu__item item--submenu">
                    <a href="company-team.html">Team</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="company-community.html">Community</a>
                </li>
                <li class="menu__item item--submenu">
                    <a href="company-remote.html">Remote</a>
                </li>								
            </ul>			
        </li>
        <li class="menu__item">
            <a href="how-we-work.html">How we work?</a>
        </li>
        <li class="menu__item">
            <a href="join-us.html">Join Us</a>
        </li>
        <li class="menu__item">
            <a href="blog.html">Blog</a>
        </li>				
        <li class="menu__item item--cta">
            <a href="contact.html">Hire Us</a>
        </li>						
    </ul>
</nav>