<nav id="nav-top" class="nav-top">
	<ul class="nav__menu menu--top">
		<li class="menu__item item--has-submenu">
			<a href="#">Portfolio</a>
			<ul class="nav__submenu">
				<h4 class="submenu__title">
					<a href="#" class="do-close-subnav">Portfolio</a>
				</h4>
				<li class="menu__item item--submenu">
					<a href="#">Clients projects</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Our products</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Open source</a>
				</li>								
			</ul>
		</li>
		<li class="menu__item item--has-submenu">
			<a href="#">Services</a>
			<ul class="nav__submenu">
				<h4 class="submenu__title">
					<a href="#" class="do-close-subnav">Services</a>
				</h4>
				<li class="menu__item item--submenu">
					<a href="#">Main services</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Backend development</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Internet of things</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Big Data & Machine Learning</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Blockchain</a>
				</li>																
			</ul>			
		</li>
		<li class="menu__item item--has-submenu">
			<a href="#">Company</a>
			<ul class="nav__submenu">
				<h4 class="submenu__title">
					<a href="#" class="do-close-subnav">Company</a>
				</h4>
				<li class="menu__item item--submenu">
					<a href="#">Team</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Community</a>
				</li>
				<li class="menu__item item--submenu">
					<a href="#">Remote</a>
				</li>								
			</ul>			
		</li>
		<li class="menu__item">
			<a href="#">How we work?</a>
		</li>
		<li class="menu__item">
			<a href="#">Join Us</a>
		</li>
		<li class="menu__item">
			<a href="#">Blog</a>
		</li>				
		<li class="menu__item item--cta">
			<a href="#">Hire Us</a>
		</li>						
	</ul>
</nav>