h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	color: $black;
}


//	Extendable headers: for SEO reasons it is considered bad practice to have too many headings, 
//	so let's take advantage of SASS inheritance for other elements to easily use headers styles)

%generic-h1 {
	font-size: 3.125em;
	line-height: 1.4;
	letter-spacing: .01em;

	@media all and (max-width: $breakpoint_laptop) {
		font-size: 2.5em;
	}	
	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		font-size: 1.75em;
	}
}
%generic-h2 {
	font-size: 2.5em;
	line-height: 1.4;

	@media all and (max-width: $breakpoint_laptop) {
		font-size: 1.75em;
	}
}

//or "big parapgraph"
%generic-h3 {
	font-size: 1.75em;
	line-height: 1.5;
	letter-spacing: .01em;
	@media all and (max-width: $breakpoint_laptop) {
		font-size: 1.25em;
		line-height: 1.6;
	}	
}

%generic-h4 {
	font-size: .875em;
	letter-spacing: .05em;
	text-transform: uppercase;
}

%header-whitespace {
	margin-bottom: $vertical-whitespace-desktop;
	@media all and (max-width: $breakpoint_laptop) {
		margin-bottom: $vertical-whitespace-laptop;
	}
	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		margin-bottom: $vertical-whitespace-phone;
	}	
}
%header-whitespace-medium {
	margin-bottom: 3.75rem; 

	@media all and (max-width: $breakpoint_laptop) {
		margin-bottom: 2.75rem; 
	}
	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		margin-bottom: 2.5rem; 
	}	
}

%header-whitespace-small {

	// reference: Softwaremill_WebsiteMobile_Home_05 section "Main Services"; Softwaremill_Website_CompanyRemote_05 first section

	margin-bottom: 1.875rem; 

	@media all and (max-width: $breakpoint_laptop) {
		margin-bottom: 1.375rem; 
	}
	@media all and (max-width: $breakpoint_tablet-small) {
		
		margin-bottom: 1.25rem;
	}
}

%paragraph-whitespace {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

%generic-p {
	font-size: 0.938em; //15px in xD source file
	line-height: 1.6; //24:15;
	letter-spacing: .01em;	

	@media all and (max-width: $breakpoint_laptop) {
		font-size: .875rem;
		line-height: 1.5;
	}
}




h1 {
	@extend %generic-h1;
}

h2 {
	@extend %generic-h2;

	&:not(.header--no-margin) {
		@extend %header-whitespace;
	}	
}

h3 {
	@extend %generic-h3;

	&:not(.header--no-margin) {
		@extend %header-whitespace-medium;
		&.header--whitespace-small {
			@extend %header-whitespace-small;
		}
	}
}

h4 {
	@extend %generic-h4;
	&:not(.header--no-margin) {
		@extend %header-whitespace-small;
	}
}

p {
	@extend %generic-p;
	@extend %paragraph-whitespace;
}